
::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 13px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
background-clip: unset;

	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}


.popUp-item::-webkit-scrollbar-thumb {
	
	background-clip:  none;
	}

::-webkit-scrollbar-track {
  border: 0;
  width: 50px;
}

::-webkit-scrollbar-track {
	/* background-clip: padding-box; */
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track-piece {
	border-width: 0;
}